
body {
  margin:0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #0f0c29, #0d009e, #24243e);
  color: #f0f0f0;

  min-height: 90vh;
 max-width: 2000px;
}
.flex{
  margin-top: 5%;

display: flex;
justify-content: center;
align-items: center;

}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#11006e, #0098fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}


.conteiner {
  
padding: 25px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 width: 30%;
}

input, button {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
}

input {
    width: 90%;
  background-color: #1e1e2f;
  color: #fff;
  border: 1px solid #4a4a7a;
}

button {
  background: linear-gradient(to right, #11006e, #007acc);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #11006e, #0098fd);
}


ul {
  list-style: none;
  padding: 0;
  width: 80%;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto;
  background-color: #00317a7a;
  border-radius: 6px;
  font-size: 20px;
  
}

li button {
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 1mm;
  color: #fff;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 0.9rem;
  border: none;
  transition: background-color 0.3s ease;
}

li button:hover {
  background-color: #666;
}


.tx {
  text-align: center;
  width: 10%;
  margin-right: 20%;
  color: #0d0664;
  font-weight: 700;

}

.btc {
  width: 60%;
}


img {
  width: 50px;
  height: 50px;
}


.centralizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.um{
   background: linear-gradient(to right, #6e0700, #db2e2e);
}

.um:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #6e0700, #db2e2e);
}

