.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 30px;
  min-height: 100vh;
}

/* Título principal estilizado */
.app-title {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* Grupo de botões responsivo */
.button-group {
  display: flex;
  flex-direction: column;
  width: 100%;
 justify-content: center;
 align-items: center;
padding: 10px;
gap: 10px;
}

/* Estilo dos botões */
.btn {
  display: block;
  text-align: center;
  padding: 0.75rem 1rem;
  background-color: #ffffff;
  color: #2734ae;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;

}

/* Hover e foco */
.btn:hover,
.btn:focus {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #ffffff;
}

/* Media query para telas maiores */
@media (min-width: 600px) {
  .button-group {
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
  }
}
